name: Build and Release

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >
            base-devel
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake

      - name: Install NSIS
        run: choco install nsis --version 3.08.1

      - name: Add NSIS to PATH
        run: echo "C:\Program Files (x86)\NSIS" >> $env:GITHUB_PATH

      - name: Check PATH
        run: echo $env:PATH

      - name: Configure CMake
        run: |
          cmake -G "MSYS Makefiles" -B build -S .

      - name: Build
        run: |
          cmake --build build --config Release

      - name: Package with CPack
        run: |
          cd build
          cpack -G NSIS

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        with:
          tag_name: v1.0.0
          release_name: Release v1.0.0
          draft: false
          prerelease: false

      - name: Upload Installer
        uses: actions/upload-release-asset@v1
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build/jsquick-1.0.0-win64.exe
          asset_name: jsquick-1.0.0-win64.exe
          asset_content_type: application/octet-stream
